.water {
    color:whitesmoke;
    background-color: rgba(134, 184, 223, 0.913);
    border-radius: 5px;
    padding: 3px;
}


.month {
    color: rgb(99, 99, 99);
    background-color: rgba(171, 171, 171, 0.66);
    border-radius: 5px;
    width: 100%;
    height: 40px;
}

.green {
    color: rgb(99, 99, 99);
    transform: scale(1.3);
    background-color: rgba(140, 216, 128, 0.762);
    border-radius: 5px;
    width: 100%;
    height: 40px;
}