<div style="width: auto; overflow-y: scroll; margin-top: 20px">
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-4 ">
        <!--Card-->
        <mdb-card cascade="true" wider="true">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <!--Title-->
            <h4 class="card-title">
              <strong>Nom de la plante</strong>
            </h4>
            <h5 class="indigo-text">
              <strong>Espèce de plante</strong>
            </h5>

            <mdb-card-text>
              Un texte ?
            </mdb-card-text>

          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->
      </div>

      <div class="col-4 ">
        <!--Card-->
        <mdb-card cascade="true" wider="true">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <!--Title-->
            <h4 class="card-title">
              <strong>Nom de la plante</strong>
            </h4>
            <h5 class="indigo-text">
              <strong>Espèce de plante</strong>
            </h5>

            <mdb-card-text>
              Un texte ?
            </mdb-card-text>

          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->
      </div>

      <div class="col-4 ">
        <!--Card-->
        <mdb-card cascade="true" wider="true">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <!--Title-->
            <h4 class="card-title">
              <strong>Nom de la plante</strong>
            </h4>
            <h5 class="indigo-text">
              <strong>Espèce de plante</strong>
            </h5>

            <mdb-card-text>
              Un texte ?
            </mdb-card-text>

          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->
      </div>

      <div class="col-4 ">
        <!--Card-->
        <mdb-card cascade="true" wider="true">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <!--Title-->
            <h4 class="card-title">
              <strong>Nom de la plante</strong>
            </h4>
            <h5 class="indigo-text">
              <strong>Espèce de plante</strong>
            </h5>

            <mdb-card-text>
              Un texte ?
            </mdb-card-text>

          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->
      </div>

      <div class="col-4 ">
        <!--Card-->
        <mdb-card cascade="true" wider="true">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <!--Title-->
            <h4 class="card-title">
              <strong>Nom de la plante</strong>
            </h4>
            <h5 class="indigo-text">
              <strong>Espèce de plante</strong>
            </h5>

            <mdb-card-text>
              Un texte ?
            </mdb-card-text>

          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->
      </div>

      <div class="col-4 ">
        <!--Card-->
        <mdb-card cascade="true" wider="true">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <!--Title-->
            <h4 class="card-title">
              <strong>Nom de la plante</strong>
            </h4>
            <h5 class="indigo-text">
              <strong>Espèce de plante</strong>
            </h5>

            <mdb-card-text>
              Un texte ?
            </mdb-card-text>

          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->
      </div>



    </div>
  </div>
</div>



<!--
<div style="width: auto; overflow-y: scroll; margin-top: 20px">
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-4 " *ngFor="let plant of plants">

        <mdb-card cascade="true" wider="true">


          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="PHOTO-PLANTE.jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>


          <mdb-card-body cascade="true" class="text-center">


            <h4 class="card-title">
              <strong>{{plante.name}}</strong>
            </h4>
            <h5 class="indigo-text">
              <strong>{{plante.specie}}</strong>
            </h5>

            <mdb-card-text>
              Un texte ?
            </mdb-card-text>

          </mdb-card-body>


        </mdb-card>

      </div>
-->
