<div class="container">
    <mat-card>
        <mat-card-title>Confirmez votre adress email.</mat-card-title>
        <form [formGroup]="confirmForm">
            <mat-form-field>
                <input matInput placeholder="Email" type="email" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Confirmation Code" type="text" formControlName="code" required>
                <mat-hint *ngIf="!codeInput.value">Enter the confirmation code that was emailed to you</mat-hint>
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="confirmCode()">Confirmer</button>
            <p>Didn't receive a code? <a href="javascript:void(null)" (click)="sendAgain()">Envoyer de nouveau</a></p>
        </form>
    </mat-card>
</div>

