<div style="width: auto; overflow-y: scroll; overflow-x:visible;">
    <div class="container-fluid p-3">
        <div class="row flex-nowrap p-3">
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 mr-n3 ml-n3 d-flex justify-content-center align-items-center">
                <button mat-fab class="btn">+</button>
            </div>
            <div class="col-8 col-sm-4 col-md-4 col-lg-3 d-flex" *ngFor="let plante of listPlante">
                <vivai-plant-card [plante]="plante"></vivai-plant-card>
            </div>
        </div>
    </div>
</div>