<div style="width: auto; overflow-y: scroll;">
    <div class="container-fluid p-3">
        <div class="row flex-nowrap">
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 mr-n3 ml-n3 d-flex justify-content-center align-items-center">
                <button mat-fab class="btn">+</button>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 d-flex" *ngFor="let coucou of coucouTab">
                <vivai-plant-card></vivai-plant-card>
            </div>
        </div>
    </div>
</div>