.reportingForm{
  border-style: ridge;
  border-color: green;
}

h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em
}

.h2line {
  border-bottom: 1px solid rgb(15,15,15);
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.checkboxes {
  margin-left: 1em;
}
