.reportingForm{
  border-style: ridge;
  border-color: green;
}

h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em
}

.h2line {
  border-bottom: 1px solid rgb(15,15,15);
  margin-left: 1em;
  margin-right: 1em;
}

.checkboxes {
  padding: 1em;
}

.badgeRed {
  height: 2.5em;
  width: 2.5em;
  border-radius: 20px;
  background-color: indianred;
  color: whitesmoke;
}

.badgeBlue {
  height: 2.5em;
  width: 2.5em;
  border-radius: 20px;
  background-color: dodgerblue;
  color: whitesmoke;
}

.badgeGreen {
  height: 2.5em;
  width: 2.5em;
  border-radius: 20px;
  background-color: limegreen;
  color: whitesmoke;
}

.badgeOrange {
  height: 2.5em;
  width: 2.5em;
  border-radius: 20px;
  background-color: orange;
  color: whitesmoke;
}


.headerImage {
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
}

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: 0 0 15px 15px;
  transition: filter 1s;
  -webkit-filter: contrast(110%) brightness(75%);
  filter: contrast(110%) brightness(75%);
  overflow: hidden;
}

.card {
  border-radius: 0 0 15px 15px;
  transition: transform 1s;

  &:hover {
      transform: scale(1.05);

      .card-img-top {
          -webkit-filter: contrast(110%) brightness(50%);
          filter: contrast(110%) brightness(50%);
      }
  }
}