<div *ngIf="display">
  <div class="headerImage" *ngIf="mobileQuery.matches">
    <div class="card flex-fill" style="border-radius: 0 0 15px 15px;"><img alt="plante" class="card-img-top img-fluid"
        src={{curentPlant.picUrl}} />
      <div class="card-img-overlay">
      </div>
    </div>
  </div>
  <div style="height: 15em;" *ngIf="mobileQuery.matches"></div>
  <div class="container" style="border-radius: 20px !important;">
    <mat-card style="border-radius: 20px !important;">
      <mat-card-content class="content p-2">

        <div class="row partieduhaut pb-4">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 m-1">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <div class="row">
                  <div class="col-6 col-sm-6 col-md-6 col-lg-12 p-2">
                    <p>{{curentPlant.nickname}}</p>
                    <p>{{curentPlant.species}}</p>
                    <p>{{curentPlant.location}}</p>
                  </div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-12 p-2">
                    <p>{{curentPlant.temperature}}</p>
                    <p>{{curentPlant.sunExpo}}</p>
                    <p>{{curentPlant.sunExpo}}</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-8" *ngIf="!mobileQuery.matches">
                <div class="plantImage flex-fill">
                  <img alt="plante" class="card-img-big img-fluid" src={{curentPlant.picUrl}} />
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-8 col-lg-8">

          </div>
        </div>

        <div class="row partiedubas">

          <div class="col-12 col-sm-12 col-md-9 col-lg-4">
            <div class="reportingForm card m-1">
              <h2>Fait aujourd'hui : </h2>
              <div class="h2line"></div>
              <div class="checkboxes">
                <form [formGroup]="reportingForm">
                  <div class="row justify-content-between">
                    <div class="col-2 mb-1">
                      <div class="badgeBlue d-flex justify-content-center align-items-center">
                        <mat-icon matSuffix svgIcon="water" aria-hidden="false"></mat-icon>
                      </div>
                    </div>
                    <div class="col-6 d-flex justify-content-start align-items-center mb-1">
                      <h5>Arrosage</h5>
                    </div>
                    <div class="col-4 d-flex justify-content-center align-items-center mb-1">
                      <mat-checkbox formControlName="water" labelPosition="before" style="margin-top: 0.6em; color:blue"
                        (click)="checkTaskNumber()"></mat-checkbox>
                    </div>
                  </div>
                  <div class="row justify-content-between">
                    <div class="col-2 mb-1">
                      <div class="badgeRed d-flex justify-content-center align-items-center">
                        <mat-icon matSuffix svgIcon="prune" aria-hidden="false"></mat-icon>
                      </div>
                    </div>
                    <div class="col-6 d-flex justify-content-start align-items-center mb-1">
                      <h5>Taillage</h5>
                    </div>
                    <div class="col-4 d-flex justify-content-center align-items-center mb-1">
                      <mat-checkbox formControlName="prune" labelPosition="before" style="margin-top: 0.6em;"
                        (click)="checkTaskNumber()"></mat-checkbox>
                    </div>
                  </div>
                  <div class="row justify-content-between">
                    <div class="col-2 mb-1">
                      <div class="badgeGreen d-flex justify-content-center align-items-center">
                        <mat-icon matSuffix svgIcon="repoting" aria-hidden="false"></mat-icon>
                      </div>
                    </div>
                    <div class="col-6 d-flex justify-content-start align-items-center mb-1">
                      <h5>Replantage</h5>
                    </div>
                    <div class="col-4 d-flex justify-content-center align-items-center mb-1">
                      <mat-checkbox formControlName="repoting" labelPosition="before" style="margin-top: 0.6em;"
                        (click)="checkTaskNumber()"></mat-checkbox>
                    </div>
                  </div>
                  <div class="row justify-content-between">
                    <div class="col-2 mb-1">
                      <div class="badgeOrange d-flex justify-content-center align-items-center">
                        <mat-icon matSuffix svgIcon="harvest" aria-hidden="false"></mat-icon>
                      </div>
                    </div>
                    <div class="col-6 d-flex justify-content-start align-items-center mb-1">
                      <h5>Récolte</h5>
                    </div>
                    <div class="col-4 d-flex justify-content-center align-items-center mb-1">
                      <mat-checkbox formControlName="harvest" labelPosition="before" style="margin-top: 0.6em;"
                        (click)="checkTaskNumber()"></mat-checkbox>
                    </div>
                  </div>
                </form>

                <div class="row justify-content-between">
                  <div class="col-6 d-flex justify-content-start align-items-center" style="font-size: larger;">
                    {{this.taskNumber}} / 4 tâches
                  </div>
                  <div class="col-6 d-flex justify-content-end">
                    <button mat-raised-button color="accent" style="height: 40px">Mettre à jour</button>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="col-12 col-sm-12 col-md-12 col-lg-4">
            <div class="recommandations card h-100 m-1">
              <h2>Recommandations :</h2>
              <div class="h2line mb-1"></div>
              <div class="row justify-content-between ml-2 mr-2">
                <div class="col">
                  <h5>Arrosage :</h5>
                  <p style="font-size: small;">Cette plante doit être arrosée <span style="background-color: cornflowerblue">une fois par
                      semaine</span> et <b>juste un peu</b></p>
                </div>
              </div>
              <div class="row justify-content-between ml-2 mr-2">
                <div class="col">
                  <h5>Ensolleillement :</h5>
                  <h6>Intensité : partiellement ombragé</h6>
                  <p style="font-size: small;">Cette plante a besoin d'une lumière indirecte ou d'une lumière filtrée mais pas directement de lumière du soleil</p>
                </div>
              </div>
              <div class="row justify-content-between ml-2 mr-2">
                <div class="col">
                  <h5>Saison de croissance</h5>
                  <p style="font-size: small;">Votre plante est actuellement en pleine croissance</p>
                </div>
              </div>
              <div class="row justify-content-between ml-3 mr-3">
                <div class="col-0.5" *ngFor="let m of months">
                  <p style="background-color: lightgrey; border-radius: 2px;; width: 10px;">{{m}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-3 col-lg-2">
            <div class="row h-100">
              <div class="col-6 col-sm-6 col-md-12 col-lg-12 m-1">
                <div class="card h-100 bigBtn">
                  Lila plant
                </div>
              </div>
              <div class="col-6 col-sm-6 col-md-12 col-lg-12 mr-1">
                <div class="card h-100 bigBtn">
                  voir la plante des autres
                </div>
              </div>
            </div>
          </div>

        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>
