<div class="container">
    <h3>Notifications :</h3>
    <mat-card style="height: 30em; margin: auto; margin-top: 1em; border-radius: 20px !important; overflow: hidden;">
        <mat-card-content class="content d-flex justify-content-center align-items-center">
            <img style="width: auto; height: 30vh;" class="mt-4" src="assets/illustration/notif.png"
                alt="notify">
            <h6 class="p-5 text-center" style="position:absolute; bottom: 2em;opacity: 0.7;">Désolé cette fonctionalité n'est pas encore
                disponible.</h6>
        </mat-card-content>
    </mat-card>
</div>