<div class="container">
  <mat-sidenav-container fullscreen [hasBackdrop]="mobileQuery.matches">
    <mat-sidenav #lnav mode="over" class="sidenav" style="border-radius: 0 30px 30px 0;">
      <div class="content">
        <nav>
          <mat-list>
            <mat-list-item *ngFor="let route of nav">
              <a mat-icon-button routerLink="{{route.path}}" routerLinkActive="active" (click)="toggleMobileNav(lnav)"
                title="{{route.title}}" [routerLinkActive]="['is-active']">
                <mat-icon mat-list-icon>{{route.icon}}</mat-icon>
              </a>
            </mat-list-item>
            <mat-list-item>
              <a mat-icon-button routerLink="notify" routerLinkActive="active" (click)="toggleMobileNav(lnav)"
                title="notifications" [routerLinkActive]="['is-active']">
                <mat-icon mat-list-icon matBadge="15" matBadgeColor="warn" matBadgeSize="medium">notification_important
                </mat-icon>
              </a>
            </mat-list-item>
          </mat-list>
        </nav>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content" style="height: 100% !important;">
      <!--mat-toolbar class="toolbar shadow-sm customToolbar" [class.app-is-mobile]="mobileQuery.matches" color="primary">
        <div class="vivaidesktop" *ngIf="!mobileQuery.matches">
          <img src="assets/svg/plant.svg" alt="vivai-logo">
          {{title}}
        </div>
        <div class="vivaimobile row" *ngIf="mobileQuery.matches">
          <button class="col" mat-icon-button aria-label="Menu" (click)="lnav.toggle()">
            <mat-icon style="font-size:2em; margin-left: -0.2em; margin-top: 0.15em; margin-right: 0.1em;" matBadge="15" matBadgeColor="warn" matBadgeSize="small" [matBadgeHidden]="false">more_vert</mat-icon>
            <img src="assets/svg/plant.svg" alt="vivai-logo">
          </button>
        </div>
      </mat-toolbar-->
      <mat-drawer-container class="sidenav-container" style="height: 100% !important;">
        <mat-drawer mode="side" [opened]="!mobileQuery.matches && router.url !='/'" style="border-radius: 0 30px 30px 0;">
          <div class="content">
            <img style="margin:2.2em" src="assets/svg/plant.svg" alt="vivai-logo">
            <mat-list>
              <mat-list-item *ngFor="let route of nav">
                <a mat-button routerLink="{{route.path}}" routerLinkActive="active" (click)="toggleMobileNav(lnav)"
                  title="{{route.title}}" [routerLinkActive]="['is-active']">
                  <mat-icon mat-list-icon>{{route.icon}}</mat-icon>
                  {{route.title}}
                </a>
              </mat-list-item>
              <mat-list-item>
                <a mat-button routerLink="notify" routerLinkActive="active" (click)="toggleMobileNav(lnav)"
                  title="notifications" [routerLinkActive]="['is-active']" >
                  <mat-icon mat-list-icon matBadge="15" matBadgeColor="warn" matBadgePosition="before" matBadgeSize="small">notification_important</mat-icon>
                  Notifications
              </a>
              </mat-list-item>
            </mat-list>
            <span class="footer">© Vivai App 2020</span>
          </div>
        </mat-drawer>
        <mat-drawer-content>
          <div class="content">
            <main>
              <button class="leftButton d-flex justify-content-center align-items-center ml-4 mt-2 " *ngIf="mobileQuery.matches && router.url == '/dashboard' " aria-label="Menu"
                (click)="lnav.toggle()" matBadge="15" matBadgeColor="warn" matBadgeSize="small">
                <mat-icon>
                  menu</mat-icon>
                </button>
              <button class="leftButton d-flex justify-content-center align-items-center ml-4 mt-2 " *ngIf="mobileQuery.matches && router.url != '/dashboard' && router.url != '/' && router.url != '/lila-plant'" aria-label="Menu"
                (click)="returnNav()">
                <mat-icon class="ml-2">
                  arrow_back_ios</mat-icon>
              </button>
              <div class="mt-5" *ngIf="router.url !='/' && router.url !=='/plant-page'"></div>
              <div style="height: 1.8em;" *ngIf="router.url !=='/dashboard' && router.url !='/' && router.url !=='/plant-page' && router.url !=='/lila-plant'"></div>
              <router-outlet></router-outlet>
              <button *ngIf="displayButtonLila()" class="lilaButton" mat-icon-button (click)=openDialog()> <img
                  style="width: 2em; max-height: 2em" src="assets/illustration/pablo-cut-nobg.png" alt="Lila"></button>
            </main>
          </div>
        </mat-drawer-content>
      </mat-drawer-container>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>