.menuBtnContainer {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 2em;
    z-index: 1000;
}
::ng-deep .menuBtn{
    height:8em !important;
    width:8em!important;
    font-size:8em !important;
}
