<p>shared-plants-page works!</p>


<div container>

    <div *ngIf="listSharedPlants?.length > 0">
        <div class="row flex-nowrap pb-3">
          <div class="row" *ngFor = "let plant of listSharedPlants">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
              <div class="card m-1 h-100">
                  <div class="card flex-fill" style="border-radius: 0 0 15px 15px;"><img alt="plante" class="card-img-top img-fluid"
                    src={{plant?.picUrl}} />
                  </div>
                <h5>{{plant?.nickname}}</h5>
                <p>Gardée dans son/sa : {{plant?.location}}</p>
                <p>Température : {{plant?.temperature}}</p>
                <p>Exposé
                  <span *ngIf="plant?.sunExpo === '1'">Faiblement</span>
                  <span *ngIf="plant?.sunExpo === '2'">Modérément</span>
                  <span *ngIf="plant?.sunExpo === '3'">Fortement</span>
                  au soleil
                </p>
            </div>
            </div>
          </div>
        </div>
    </div>



    <div *ngIf="listSharedPlants?.length === 0">
      <p> Il n'y a actuellement aucune plante de cette espèce partagé par les utilisateurs.</p>
    </div>


</div>



