  <div style="width: 100%;" class="d-flex justify-content-between align-content-center">
      <h1 mat-dialog-title>Anecdotes sur <span>{{plant?.plant.species}}</span></h1><button mat-icon-button class="closeBtn" type="button"
          color="warn" mat-dialog-close>
          <mat-icon>close</mat-icon>
      </button>
  </div>

  <div class ="row">
    <h5>Histoire : </h5>
    <br>
    <div *ngFor="let hist of plant?.plant.history"><p>{{hist}}</p></div>
  </div>

  <div class ="row">
    <h5>Tips écologiques : </h5>
    <br>
    <div *ngFor="let ecologicalTips of plant?.plant.ecologicalTips"><p>{{ecologicalTips}}</p></div>
  </div>
