<div class="container">


    <div class="header" style="text-align: right;">
        <h2>Bonjour, Martin</h2>
    </div>
    <div style="margin-top: 2em;">
        <h2>Vos plantes :</h2>
        <vivai-plant-list></vivai-plant-list>
    </div>
    <div class="row" style="margin-top: 2em;">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <mat-card class="example-card">
                <mat-card-content>
                    <p>des info</p>
                    <p>des info</p>
                    <p>des info</p>
                    <p>des info</p>

                    <p>des info</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                style="background-image:url(&quot;assets/illustration/pablo-done.png&quot;);"><span></span></div>
        </div>
    </div>
</div>