.dashboard-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .dashboard-is-mobile .dashboard-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.dashboard-app-name {
    margin-left: 8px;
  }
  
  .dashboard-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .dashboard-is-mobile .dashboard-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  
  a{
      color: black !important;
  }

  .arrow-up {
    position: absolute;
    margin-top: 3em;
    right: 9em;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 28px solid rgba(250, 250, 250, 0.9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .dialog {
    position: absolute; 
    margin-top: 5em; 
    margin-left: 25%;
    background-color: rgba(250, 250, 250, 0.9)!important;
  }