.micButton {
  overflow: hidden;
  height:1em !important;
  width:1em!important;
  font-size:2em !important;
  background-color: rgba(250, 250, 250, 0.9)!important;
}

.userMessage {
  background-color: cyan !important;
  position: relative;
  left: 10em;
}

.lilaMessage {
  background-color: green !important;
}

.communicationButton {
  position: relative;
  left: 0.5em;
}
