<h2 mat-dialog-title>Assistance vocale</h2>

<mat-dialog-content>
  <p>Bienvenue dans Lila, l'assitance vocale</p>

  <div *ngIf="router.url === '/dashboard'">Vous venez du dashboard</div>
  <div *ngIf="router.url === '/notify'">Vous venez du notify</div>
  <div *ngIf="router.url === '/'">Vous venez du home</div>

  <div class="col">
    <div class="row flex-nowrap p-2" *ngFor="let message of messages">
      <div *ngIf="!message.fromUser">
        <div class = "lilaMessage">
          {{message.message}}
        </div>
      </div>
      <div *ngIf="message.fromUser">
        <div class = "userMessage">
          {{message.message}}
        </div>
      </div>
    </div>
  </div>

  <button class="micButton"><img style="width: 2em; max-height: 2em" src="assets/illustration/icone-micro.png" alt="Micro"> </button>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-icon-button"(click)="close()"><mat-icon>close</mat-icon></button>
</mat-dialog-actions>
