.micButton {
  overflow: hidden;
  height:2em !important;
  width:2em!important;
  font-size:2em !important;
  background-color: rgba(250, 250, 250, 0.9)!important;
}

.userMessage {
  background-color: cyan !important;
}

.lilaMessage {
  background-color: green !important;
}
