<h2 mat-dialog-title>Assistance vocale</h2>

<mat-dialog-content>
  <p>Bienvenue dans Lila, l'assitance vocale</p>

  <div *ngIf="router.url === '/dashboard'">Vous venez du dashboard</div>
  <div *ngIf="router.url === '/notify'">Vous venez du notify</div>
  <div *ngIf="router.url === '/'">Vous venez du home</div>

  <div class="col">
    <div class="row flex-nowrap p-2" *ngFor="let message of messages">
      <div *ngIf="!message.fromUser">
        <div class = "lilaMessage">
          {{message.message}}
        </div>
      </div>
      <div *ngIf="message.fromUser">
        <div class = "userMessage">
          {{message.message}}
        </div>
      </div>
    </div>
  </div>

<mat-form-field>
  <div class="row flex-nowrap">
    <div class ="col">
      <form [formGroup]="messageDiv">
        <textarea id="{{messageHeardField}}" formControlName="message" #message (keyup.enter)="sendMessage(message.value)"  matInput placeholder = "Votre message" class="UserMessage"></textarea>
      </form>
      <div class ="communicationButton">
        <button mat-raised-button color="primary" (click)="sendMessage(message.value)">Envoyer</button>
        <button mat-raised-button color="primary" (click)="receiveMessage(message.value)">Recevoir</button>
        <button class="mat-icon-button" (click)=toggleListening(messageHeardField) *ngIf="speech.SupportRecognition"><mat-icon>mic</mat-icon></button>
      </div>
    </div>
  </div>
</mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-icon-button"(click)="close()"><mat-icon>close</mat-icon></button>
</mat-dialog-actions>
